<div class="container">
  <div class="row my-4">
    <button class="btn btn-primary col">Primary</button>
  </div>
  <div class="row my-4">
    <button class="btn btn-secondary col">Secondary</button>
  </div>
  <div class="row my-4">
    <button class="btn btn-success col">Success</button>
  </div>
  <div class="row my-4">
    <button class="btn btn-danger col">Danger</button>
  </div>
  <div class="row my-4">
    <button class="btn btn-warning col">Warning</button>
  </div>
  <div class="row my-4">
    <button class="btn btn-info col">Info</button>
  </div>
  <div class="row my-4">
    <button class="btn btn-light col">Light</button>
  </div>
  <div class="row my-4">
    <button class="btn btn-dark col">Dark</button>
  </div>
  <div class="row my-4">
    <button class="btn btn-link col">Link</button>
  </div>
</div>
