<div class="container text-center">
  <p>
    <strong>
      <i>Contact address</i>
    </strong>
  </p>
  <p>
    Dominik Schwaiger
    <br />Hofackerstrasse 3
    <br />8722 Kaltbrunn
    <br />Schweiz
  </p>
  <p>
    E-Mail:
    <br />domi.schwaiger04@gmail.com
  </p>
  <br /><br />
  <p>
    <strong><i>Authorised representative(s)</i></strong>
  </p>
  Dominik Schwaiger<br />Clément Lucas-Hirtz<br />Giordano Barth
  <br /><br />
  <p>
    <strong><i>Disclaimer</i></strong>
  </p>
  <p>
    The author assumes no liability whatsoever with regard to the correctness, accuracy, up-to-dateness, reliability and
    completeness of the information.
  </p>
  <p>
    Liability claims regarding damage caused by the use of any information provided, including any kind of information
    which
    is incomplete or incorrect, will therefore be rejected.
  </p>
  <p>
    All offers are non-binding. The author expressly reserves the right to change, supplement or delete parts of the
    pages
    or the entire offer without special notice or to cease publication temporarily or permanently.
  </p><br /><br />
  <p><strong><i>Disclaimer for links</i></strong></p>
  <p>
    References and links to third-party websites are outside our area of responsibility. Any responsibility for such
    websites is declined. Access to and use of such websites is at the risk of the respective user.
  </p><br /><br />
  <p><strong><i>Copyright</i></strong></p>
  <p>The complete code and all other content, unless otherwise mentioned, are subject to the <strong><a target="_blank"
        href="https://github.com/quiode/nowple/blob/main/LICENSE">GNU
        General Public License v3.0</a></strong></p><br />
  <!--ACHTUNG: Wenn Sie die Quelle ohne Erlaubnis von SwissAnwalt entfernen, dann begehen Sie eine Urheberrechtsverletzung welche in jedem Fall geahndet wird.-->Quelle:
  <a href="https://www.swissanwalt.ch" target="_blank" rel="noopener">SwissAnwalt</a>
  <!--Bitte beachten Sie die AGB von SwissAnwalt betreffend allf&auml;llig anfallenden Kosten bei Weglassen der Quelle!-->
</div>