<div class="row m-1 border-top border-bottom" style="flex-wrap: nowrap;word-wrap: anywhere;cursor: pointer;">
  <div class="col-2">
    <div style="display: flex;height: 100%;width: 100%;align-content: center;align-items: center;">
      <img class="img-fuild m-2" [src]="profilePicture" (click)="onProfile()">
    </div>
  </div>
  <div class="col mx-4" (click)="onChat()">
    <div style="display: flex;height: 100%;width: 100%;align-content: center;align-items: center;">
      <div>
        <div class="row">
          <span class="text-dark">{{ chat?.user?.username }}</span>
        </div>
        <div class="row">
          <span *ngIf="chat?.lastMessage">
            {{ chat?.lastMessage?.message }}
          </span>
          <span *ngIf="!chat?.lastMessage" class="text-danger">No messages yet</span>
        </div>
      </div>
    </div>
  </div>
</div>
