<i class="bi bi-arrow-return-left ms-2" style="font-size: 2em;position: fixed;top: 0;left: 0;cursor: pointer;"
  (click)="onBack()"></i>
<i [style.display]="isPrivateProfile() ? 'none' : 'initial'" class="bi bi-exclamation-octagon text-danger me-2"
  style="font-size: 2em;position: fixed;top: 0;right: 0;cursor: pointer;" (click)="blockUser()"></i>
<div class="container-fluid d-flex justify-content-center m-0 p-0 text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="fs-2 text-primary col-7 text-break">{{ profile?.username || 'N/A' }}</div>
    </div>
    <div class="m-1 mt-2">
      <div class="row justify-content-center mb-2">
        <img [src]="profilePicture" class="col-7 p-0 m-0 img img-fuild"
          style="border-radius: 50%; aspect-ratio: 1/1;width: 20em;">
        <i (click)="fileSelect.click()" *ngIf="isPrivateProfile()" id="editIcon" class="bi bi-pencil-square"
          style="cursor: pointer;"></i>
      </div>
      <div class="my-2" *ngIf="profile?.gender || profile?.location">
        <div class="row mx-5">
          <button class="col btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#personalInfo"
            aria-expanded="false" aria-controls="personalInfo">
            Personal Information
          </button>
          <i *ngIf="isPrivateProfile()" class="col-1 bi bi-pencil-square fs-2" style="cursor: pointer;"
            [ngClass]="editingPersonal ? 'text-danger' : 'text-dark'" (click)="editingPersonal = !editingPersonal"></i>
          <i class="col-1 bi bi-send fs-2 ms-2" style="cursor: pointer;"
            [style.display]="editingPersonal ? 'initial' : 'none'" (click)="submitPersonal()"
            [ngClass]="personalForm.valid ? 'text-success' : 'text-danger'"></i>
        </div>
        <div class="collapse my-2" id="personalInfo">
          <div *ngIf="!editingPersonal" class="container text-start">

            <div class="row align-items-baseline" *ngIf="profile?.gender">
              <div class="col-4">Gender:</div>
              <div class="col">
                {{ profile?.gender }}
              </div>
            </div>

            <div class="row align-items-baseline" *ngIf="profile?.location?.coordinates && isPrivateProfile()">
              <div class="col-4">Location:</div>
              <div class="col">
                {{ getCords()}}
              </div>
              <div (click)="openMap()" style="cursor: pointer;" class="col">
                <i class="bi bi-map mx-2 fs-3"></i>
              </div>
            </div>

            <div class="row align-items-baseline" *ngIf="profile?.location && isPublicProfile()">
              <div class="col-4">Distance:</div>
              <div class="col">
                {{ distance }} km
              </div>
            </div>

          </div>

          <div *ngIf="editingPersonal" class="container">
            <form [formGroup]="personalForm" (ngSubmit)="submitPersonal()">
              <div class="row">
                <div class="col">
                  <select [ngClass]="personalForm.get('gender')?.invalid ? 'is-invalid' : 'is-valid'"
                    formControlName="gender" aria-label="Preferred Gender Select" class="form-select" name="gender">
                    <option disabled selected>{{ initialSelectValue }}</option>
                    <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
                  </select>
                </div>

              </div>

              <div class="row">
                <div class="col">
                  <label for="name" class="form-label">Input your Latitude</label>
                  <input type="number" [ngClass]="personalForm.get('locationX')?.invalid ? 'is-invalid' : 'is-valid'"
                    formControlName="locationX" class="form-control" name="locationX" />
                </div>

                <div class="col">
                  <label for="name" class="form-label">Input your Longitude</label>
                  <input type="number" [ngClass]="personalForm.get('locationY')?.invalid ? 'is-invalid' : 'is-valid'"
                    formControlName="locationY" class="form-control" name="locationY" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="my-2"
        *ngIf="profile?.interests?.civil || profile?.interests?.diplomatic || profile?.interests?.economic || profile?.interests?.society || profile?.interests?.ideology">
        <div class="row mx-5">
          <button class="col btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            Political Views
          </button>
          <i *ngIf="isPrivateProfile()" class="col-1 bi bi-pencil-square fs-2" style="cursor: pointer;"
            [ngClass]="editingPolitics ? 'text-danger' : 'text-dark'" (click)="editingPolitics = !editingPolitics"></i>
          <i class="col-1 bi bi-send fs-2 ms-2" [ngClass]="politicsForm.valid ? 'text-success' : 'text-danger'"
            style="cursor: pointer;" [style.display]="editingPolitics ? 'initial' : 'none'"
            (click)="submitPolitics()"></i>
        </div>
        <div class="collapse my-2" id="collapseExample">
          <div *ngIf="!editingPolitics" class="container text-start">

            <div class="row align-items-baseline" *ngIf="profile?.interests?.civil">
              <div class="col-4">Civil:</div>
              <div class="col">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [style.width.%]="profile?.interests?.civil"
                    [attr.aria-valuenow]="profile?.interests?.civil" aria-valuemin="1" aria-valuemax="100">
                    {{ profile?.interests?.civil }}%</div>
                </div>
              </div>
            </div>

            <div class="row align-items-baseline" *ngIf="profile?.interests?.diplomatic">
              <div class="col-4">Diplomatic:</div>
              <div class="col">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [style.width.%]="profile?.interests?.diplomatic"
                    [attr.aria-valuenow]="profile?.interests?.diplomatic" aria-valuemin="1" aria-valuemax="100">
                    {{ profile?.interests?.diplomatic }}%</div>
                </div>
              </div>
            </div>

            <div class="row align-items-baseline" *ngIf="profile?.interests?.economic">
              <div class="col-4">Economic:</div>
              <div class="col">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [style.width.%]="profile?.interests?.economic"
                    [attr.aria-valuenow]="profile?.interests?.economic" aria-valuemin="1" aria-valuemax="100">
                    {{ profile?.interests?.economic }}%</div>
                </div>
              </div>
            </div>

            <div class="row align-items-baseline" *ngIf="profile?.interests?.society">
              <div class="col-4">Society:</div>
              <div class="col">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [style.width.%]="profile?.interests?.society"
                    [attr.aria-valuenow]="profile?.interests?.society" aria-valuemin="1" aria-valuemax="100">
                    {{ profile?.interests?.society }}%</div>
                </div>
              </div>
            </div>

            <div class="row align-items-baseline" *ngIf="profile?.interests?.ideology">
              <div class="col-4">Ideology:</div>
              <div class="col">
                {{ profile?.interests?.ideology }}
              </div>
            </div>

          </div>

          <div *ngIf="editingPolitics" class="container">
            <form [formGroup]="politicsForm" (ngSubmit)="submitPolitics()">
              <div class="row">
                <label for="civil" class="form-label">Civil</label>
                <input type="range" class="form-range" id="civil" formControlName="civil" min="1" max="100" step="1"
                  step="1">
              </div>
              <div class="row">
                <label for="diplomatic" class="form-label">Diplomatic</label>
                <input type="range" class="form-range" id="diplomatic" formControlName="diplomatic" min="1" max="100"
                  step="1" step="1">
              </div>
              <div class="row">
                <label for="economic" class="form-label">Economic</label>
                <input type="range" class="form-range" id="economic" formControlName="economic" min="1" max="100"
                  step="1">
              </div>
              <div class="row">
                <label for="society" class="form-label">Society</label>
                <input type="range" class="form-range" id="society" formControlName="society" min="1" max="100"
                  step="1">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="file" #fileSelect style="display: none;" accept="image/*" (change)="fileSelectFunction($event)">
