<div #top class="container-fluid bg-primary p-2" style="position: fixed;">
  <div class="row">
    <div class="col me-4">
      <div class="top-container">
        <i class="bi bi-arrow-return-left" style="font-size: 2.5em;" (click)="onBack()"></i>
      </div>
    </div>
    <div class="col">
      <div class="fs-3"
        style="display: flex;height: 100%;width: 100%;align-content: center;align-items: center;justify-content: center;word-wrap: anywhere;">
        <span>Settings</span>
      </div>
    </div>
    <div class="col">
      <div class="top-container justify-content-start">
        <i class="bi bi-box-arrow-right" style="cursor: pointer;" style="font-size: 2.5em;" (click)="onLogout()"></i>
      </div>
    </div>
  </div>
</div>

<div #container class="container-fluid fs-2" style="position: absolute;z-index: -1;overflow: auto;">
  <form [formGroup]="settingsForm" class="container p-2 text-center" (ngSubmit)="onSubmit()">
    <div *ngIf="!submitting && !gettingSettings" class="container">
      <div class="row">
        <div class="col">
          <div class="form-check form-switch">
            <input (change)="darkmodeChange($event)" class="form-check-input" type="checkbox" name="isDarkMode"
              formControlName="isDarkMode" role="switch">
            <label class="form-label" for="isDarkMode">
              <span>Darkmode</span>
              <abbr class="bi bi-exclamation-triangle mx-2 text-warning" title="Experimental"></abbr>
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="discoverable" formControlName="discoverable"
              role="switch">
            <label class="form-label" for="discoverable">Discoverable</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="considerPolitics" formControlName="considerPolitics"
              role="switch">
            <label class="form-label" for="considerPolitics">consider Politics</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="considerGender" formControlName="considerGender"
              role="switch">
            <label class="form-label" for="considerGender">consider Gender</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="reversedPoliticalView"
              formControlName="reversedPoliticalView" role="switch">
            <label class="form-label" for="reversedPoliticalView">reversed Political View</label>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col">
          <label for="preferredGender" class="form-label">Preferred Gender (can be multiple)</label>
          <select formControlName="preferredGender" aria-label="Preferred Gender Select" class="form-select"
            name="preferredGender" multiple>
            <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
          </select>
        </div>
      </div>

      <hr>

      <div class="row">
        <label for="maxDistance" class="form-label">max Distance ({{ maxDistance.value == '0' ? 'disabled' :
          maxDistance.value + ' km' }})</label>
      </div>
      <div class="row">
        <input #maxDistance formControlName="maxDistance" type="range" class="form-range" id="maxDistance" min="0"
          max="1000" step="1">
      </div>

      <div class="row my-2">
        <button *ngIf="settingsForm.dirty && !submitting && !gettingSettings" class="btn btn-primary"
          [disabled]="settingsForm.pristine && settingsForm.invalid">Submit</button>
        <div class="col" *ngIf="settingsForm.dirty && submitting || gettingSettings">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
