.top-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-content: center;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  cursor: pointer;
}

.bottom-icon {
  justify-content: center;

  &:hover {
    opacity: 0.5;
  }
}
