<form class="container" (ngSubmit)="next()" [formGroup]="form">
  <label class="form-label">Username</label>
  <input class="form-control" type="text" formControlName="username"
    [ngClass]="form.get('username')?.invalid ? 'is-invalid' : 'is-valid'">
  <label class="form-label">Password</label>
  <input class="form-control" type="password" formControlName="password"
    [ngClass]="form.get('password')?.invalid ? 'is-invalid' : 'is-valid'">
  <div class="col my-3">
    <select [ngClass]="form.get('gender')?.invalid ? 'is-invalid' : 'is-valid'" formControlName="gender"
      aria-label="Preferred Gender Select" class="form-select" name="gender">
      <option disabled selected>{{ initialSelectValue }}</option>
      <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="formFile" class="form-label">Profile Picture</label>
    <input class="form-control" type="file" id="formFile"
      [ngClass]="form.get('profilePicture')?.invalid ? 'is-invalid' : 'is-valid'" accept="image/*"
      (change)="fileSelect($event)" formControlName="profilePicture">
  </div>
  <div class="row">
    <div class="col m-2"></div>
    <button class="btn btn-primary col m-2" [disabled]="form.invalid">Next</button>
  </div>
</form>
