<div class="container-fluid">
  <div #top1 class="row bg-primary" style="position: fixed;width: inherit;">
    <div class="col">
      <div style="display: flex;height: 100%;width: 100%;align-content: center;align-items: center;">
        <img class="img-fuild m-2 hover" [src]="profilePicture" (click)="onProfile()">
      </div>
    </div>
    <!-- <div class="col fs-1 text-center" *ngIf="windowWidth > 250">
      Nowple
    </div> -->
    <div class="col me-4">
      <div
        style="display: flex;height: 100%;width: 100%;align-content: center;align-items: center;flex-direction: row-reverse;">
        <i class="bi bi-box-arrow-right hover" style="font-size: 2.5em;" (click)="onLogout()"></i>
      </div>
    </div>
  </div>
  <div #top2 class="row" id="newMatch" style="position: fixed;width: inherit;">
    <div class="col fs-1 text-center border border-danger p-2 bg-danger" (click)="onFindMatch()">
      <span class="hover" *ngIf="!findingMatch">Find a new chat</span>
      <div *ngIf="findingMatch" class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <div #container class="containiner-fluid" style="position: relative;">
    <app-message *ngFor="let chat of chats"></app-message>
  </div>
</div>
