<div class="container-fluid">
  <div #top1 class="row bg-primary" style="position: fixed;width: inherit;">
    <div class="col">
      <div style="display: flex;height: 100%;width: 100%;align-content: center;align-items: center;">
        <img class="img-fuild m-2 hover" [src]="profilePicture" (click)="onProfile()">
      </div>
    </div>
    <div class="col">
      <div class="fs-1"
        style="display: flex;height: 100%;width: 100%;align-content: center;align-items: center;justify-content: center;">
        <span>Nowple</span>
      </div>
    </div>
    <div class="col">
      <div
        style="display: flex;height: 100%;width: 100%;align-content: center;align-items: center;flex-direction: row-reverse;">
        <i class="bi bi-gear hover" style="font-size: 2.5em;" (click)="onSettings()"></i>
      </div>
    </div>
  </div>
  <div #top2 class="row" id="newMatch" style="position: fixed;width: inherit;">
    <div class="col fs-1 text-center border border-danger p-2 bg-danger" (click)="onFindMatch()">
      <span class="hover" *ngIf="!findingMatch">Find a new chat</span>
      <div *ngIf="findingMatch" class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <div #container class="row" style="position: relative;">
    <div style="cursor: pointer;" class="col text-danger text-center fs-1 border-danger border-top border-bottom m-2">
      <span>Matches</span>
      <i class="bi bi-info-circle mx-2" (click)="showMatchesInfo()" style="cursor: pointer;"></i>
    </div>
    <div class="p-0 m-0">
      <div class="p-0 m-0" *ngFor="let chat of chats">
        <app-message [chat]="chat" *ngIf="chat.isMatch" class="hover-color"></app-message>
      </div>
    </div>
    <div style="cursor: pointer;" class="col text-danger text-center fs-1 border-danger border-top border-bottom m-2">
      <span>Pending</span>
      <i class="bi bi-info-circle mx-2" (click)="showPendingInfo()" style="cursor: pointer;"></i>
    </div>
    <div class="p-0 m-0">
      <div class="p-0 m-0" *ngFor="let chat of chats">
        <app-message [chat]="chat" *ngIf="chat.isPending" class="hover-color"></app-message>
      </div>
    </div>
    <div style="cursor: pointer;" class="col text-danger text-center fs-1 border-danger border-top border-bottom m-2">
      <span>Contacts</span>
      <i class="bi bi-info-circle mx-2" (click)="showContactsInfo()" style="cursor: pointer;"></i>
    </div>
    <div class="p-0 m-0">
      <div class="p-0 m-0" *ngFor="let chat of chats">
        <app-message [chat]="chat" *ngIf="!chat.isMatch && !chat.isPending" class="hover-color"></app-message>
      </div>
    </div>
  </div>
</div>
