<form class="container" (ngSubmit)="submit()" [formGroup]="form">
  <div class="row">
    <div class="col">
      <div class="form-check form-switch">
        <input (change)="darkmodeChange($event)" class="form-check-input" type="checkbox" name="darkmode"
          formControlName="darkmode" role="switch">
        <label class="form-label" for="darkmode">
          <span>Darkmode</span>
          <abbr class="bi bi-exclamation-triangle mx-2 text-warning" title="Experimental"></abbr>
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" name="discoverable" formControlName="discoverable"
          role="switch">
        <label class="form-label" for="discoverable">Discoverable</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" name="considerPolitics" formControlName="considerPolitics"
          role="switch">
        <label class="form-label" for="considerPolitics">consider Politics</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" name="considerGender" formControlName="considerGender"
          role="switch">
        <label class="form-label" for="considerGender">consider Gender</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" name="considerHobbies" formControlName="considerHobbies"
          role="switch">
        <label class="form-label" for="considerHobbies">consider Hobbies</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" name="reversedPoliticalView"
          formControlName="reversedPoliticalView" role="switch">
        <label class="form-label" for="reversedPoliticalView">reversed Political View</label>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col">
      <label for="preferredGender" class="form-label">Preferred Gender (can be multiple)</label>
      <select formControlName="preferredGender" aria-label="Preferred Gender Select" class="form-select"
        name="preferredGender" multiple>
        <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
      </select>
    </div>
  </div>

  <hr>

  <div class="row">
    <label for="maxDistance" class="form-label">max Distance ({{ maxDistance.value == '0' ? 'disabled' :
      maxDistance.value + ' km' }})</label>
  </div>
  <div class="row">
    <input #maxDistance formControlName="maxDistance" type="range" class="form-range" id="maxDistance" min="0"
      max="1000" step="1">
  </div>

  <div class="row">
    <button class="btn btn-secondary col m-2" (click)="back()">Back</button>
    <button class="btn btn-primary col m-2" [disabled]="form.invalid || form.pristine">Submit</button>
  </div>
</form>
